html, body{
margin: 0;
padding:0;
}
.header{
    padding-top: 30px;
    }

.row{
    text-align: center;
    margin-top: -20px;
    padding: 0px;
}
.row2::after {
    /* display: block; */
    /* content: ""; */
    /* clear: both; */
    padding: 10px solid
    border: 2px solid
    
}
.name{
    color: rgb(75, 77, 75);

}
.sidebar{
    /* background-color: rgb(78, 139, 121); */
    float: left;
    width: 40%;
}
.content{
    /* background-color: rgb(61, 85, 61); */
    float: left;
    width: 60%;
    margin-bottom: -20px;
}

.user-info{
    padding: 35px 0 15px 0;
    text-align: center;
    background-image: url('../abstract-background.jpg');
}
.avatar{
    width: 200px;
    height: 200px;


}
.avatar-block{
    width: 200px;
    height: 200px;
    border: 1px solid #555;
    border-radius: 50%;
    margin: auto;
    background-image: url('../python_green.jpg');
    background-size: cover;
    background-position-x: center;
    -webkit-box-shadow: 5px 5px 15px 5px #000000; 
    box-shadow: 5px 5px 15px 5px #000000;
    
}
.contacts{

    text-align: center;
    cursor: pointer; 


}

.contacts p{

    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}


.title{
    font-size: 22px;
    /* margin-top: 0mm; */
    font-weight: 600;
    color: #777;
    padding-left: 10px;
}

.title2{
    padding-left: 38px;
    font-size: 20px;
    text-align: 100px;
    font-weight: 500;
    color: #777;
}
.title li{
    border: 2px solid
    margin-top: 0mm;
    padding-top: 0px;
    /* vertical-align: 1%; */
    /* margin-bottom: -40px; */
    list-style-type: none;
}
.education li, .exp li{
    list-style-type: none;
    color: #777;
}
/* .education li:first-child{
    font-weight: 600;
} */

.bottom_line{
    margin-top: 290px;
    margin-bottom: 30px;
    padding: 30px;
    text-align: center;
    background-image: url('../abstract-background.jpg');
    border: 6px ;


